/*ブラウザがそれぞれ持っているcssをリセットするため*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: #6c6b6b;
}
a {
	text-decoration: none;
}
/* clearfixを追加 */
.clearfix::after {
	content: "";
	display: block;
	clear: both;
}

.header {
	width: 100%; /* 横幅いっぱい */
	height: 120px; /* 高さ120px */
	background-color: red; /* 背景赤色 */
}
.header-top {
	width: 100%; /* 横幅 */
	height: 70px; /* 高さ */
	background-color: hotpink; /* 背景色 */
}
.header-bottom {
	width: 100%; /* 横幅 */
	height: 50px; /* 高さ */
	background-color: pink; /* 背景食 */
}

header {
	width: 90%
	padding: 15px 0;
	margin: 0 auto;
	text-align: center;
}
/* headerタグ内のheadlineクラスにのみ反映される */
header .headline {
	font-size: 32px;
}
.nav-list {
	text-align: center;
	padding: 10px 0;
	margin: 0 auto;
}
.nav-list-item {
	list-style: none;
	display: inline-block;
	margin: 0 20px;
}
.main-visual {
	width: 100%; /* 横幅 */
	height: 300px; /* 高さ */
	background-color: orange; /* 背景色 */
}
.main-visual-content {
	width: 350px; /* 横幅を指定 */
	height: 300px; /* 親の高さに揃える */
	background-color: gold; /* 背景色 */
}
.main {
	width: 840px; /* 横幅 */
	/* heightが書いてある行を消す */
	background-color: green; /* 背景色 */
	/* 中央寄せ（余白がないとできない） */
}
.main {
	width: 840px; /* 横幅 */
	margin: 0 auto;
}
.blog {
	width: 600px;
	height: 1400px;
	background-color: limegreen;
	float: left; /* 要素を左揃えで並べる */
}
.sidebar {
	width: 240px;
	height: 1400px;
	background-color: palegreen;
	float: left; /* 要素を左揃えで並べる */
}
.fooder {
	width: 100%; /* 横幅 */
	height: 120px; /* 高さ */
	background-color: blue; /* 背景色 */
	float: left; /* 要素を左揃えで並べる */
}
footer {
	width: 100%; /* 横幅 */
	height: 120px; /* 高さ */
	text-align: center;
	padding: 50px 0;
	background-color: #848282;
}
.footer-text {
	color: #fff;
}
